.square {
    display: flex;
    flex-direction:row;
    width: 16px;
    height: 16px;
    border: 5px solid red;
}

/*Setting all rows to a display flex, flex-direction:row,
allows for a grid to be created.*/

.row1 {
    display: flex;
    flex-direction: row;
}

.row2 {
    display: flex;
    flex-direction: row;
}

.row3 {
    display: flex;
    flex-direction: row;
}

.row4 {
    display: flex;
    flex-direction: row;
}